html {
  margin: 0;
  padding: 0;
  background-color: #d6e8fe;
}

body {
  background-color: #d6e8fe;
  border-top: solid 0px #000;
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  min-width: 900px;
}

a {
  color: #333;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}

  a:link, a:visited,
  a:active, a:hover {
    color: #333;
  }

  a:hover {
    background-color: #c7d1d6;
  }

header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 59px;
  background: url("/images/titlebar_pattern.jpg") repeat-x;
}

header, footer, hgroup,
nav, section {
  display: block;
}

mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

  h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
  }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
  margin: 0 auto;
  height: auto;
  /*min-width: 900px;*/
}

#body {
  position: absolute;
  top: 59px;
  left: 0px;
  right: 0px;
  bottom: 24px;
  background-color: #d6e8fe;
  clear: both;
  overflow-y: scroll;
}

.main-content {
  /*background: url("../Images/accent.png") no-repeat;*/
  padding-left: 10px;
  padding-top: 30px;
}

.featured + .main-content {
  background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
  padding: 2px;
}

footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  clear: both;
  height: 24px;
  background-color: #7ac0da;
  font-size: .8em;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

footer p {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

/* site title
----------------------------------------------------------*/
.site-title {
  height: auto;
  background: none;
  margin: 0px;
  border: 0px;
}

  .site-title a, .site-title a:active {
    background: none;
    text-decoration: none;
  }

  .site-title a:hover {
    text-decoration: underline;
  }

/* login
----------------------------------------------------------*/
#login {
  display: block;
  font-size: .85em;
  margin: 0 0 10px;
  text-align: right;
}

  #login a {
    margin-left: 10px;
    margin-right: 3px;
    padding: 5px 3px;
    text-decoration: none;
    color: white;
  }

  #login a:hover {
    background-color: lightgray;
    color: darkblue;
  }

  #login a textarea {
    color: white;
  }

    #login a.username {
      background: none;
      margin: 0;
      padding: 0;
      text-decoration: underline;
    }

  #login ul {
    margin: 0;
  }

  #login li {
    display: inline;
    list-style: none;
  }


/* menu
----------------------------------------------------------*/
ul#menu {
  font-size: 1.0em;
  font-weight: 600;
  margin: 5px 0px 5px;
  padding: 0;
  text-align: right;
}

  ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 10px;
  }

    ul#menu li a {
      background: none;
      color: white;
      text-decoration: none;
    }

      ul#menu li a:hover {
        color: darkblue;
        background-color: lightgray;
        text-decoration: none;
      }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
  background-color: #7ac0da;
}

  .featured .content-wrapper {
    color: #3e5667;
    padding: 1px 5px 1px 5px;
  }

  .featured h1, .featured h2 {
    color: #fff;
  }

  .featured p {
    font-size: 1.0em;
  }

/* page titles */
hgroup.title {
  margin-bottom: 2px;
}

  hgroup.title h1, hgroup.title h2 {
    display: inline;
  }

  hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
  }

/* features */
section.feature {
  width: 300px;
  float: left;
  padding: 10px;
}

/* ordered list */
ol.round {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 100px;
}

  ol.round li {
    margin: 25px 0px;
    padding-left: 45px;
  }

    ol.round li.zero {
      background: url("../Images/orderedList0blue.png") no-repeat;
    }

    ol.round li.one {
      background: url("../Images/orderedList1blue.png") no-repeat;
      min-height: 30px;
    }

      ol.round li.one p {
        padding-top: 1px;
        font-size: 1.5em;
      }

    ol.round li.two {
      background: url("../Images/orderedList2blue.png") no-repeat;
      min-height: 30px;
    }

      ol.round li.two p {
        padding-top: 1px;
        font-size: 1.5em;
      }

    ol.round li.three {
      background: url("../Images/orderedList3blue.png") no-repeat;
      min-height: 30px;
    }

    ol.round li.four {
      background: url("../Images/orderedList4blue.png") no-repeat;
    }

    ol.round li.five {
      background: url("../Images/orderedList5.png") no-repeat;
    }

    ol.round li.six {
      background: url("../Images/orderedList6.png") no-repeat;
    }

    ol.round li.seven {
      background: url("../Images/orderedList7.png") no-repeat;
    }

    ol.round li.eight {
      background: url("../Images/orderedList8.png") no-repeat;
    }

    ol.round li.nine {
      background: url("../Images/orderedList9.png") no-repeat;
    }

/* content */
article {
  float: left;
  margin-left: 75px;
  margin-right: 75px;
}

aside {
  float: right;
  width: 25%;
}

  aside ul {
    list-style: none;
    padding: 0;
  }

    aside ul li {
      background: url("../Images/bullet.png") no-repeat 0 50%;
      padding: 2px 0 2px 20px;
    }

.label {
  font-weight: 700;
  margin-left: 30px;
}

/* login page */
#loginForm {
  border-right: solid 2px #c8c8c8;
  float: left;
  width: 75%;
}

  #loginForm .validation-error {
    display: block;
    margin-left: 15px;
  }

  #loginForm .validation-summary-errors ul {
    margin: 0;
    padding: 0;
  }

  #loginForm .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
  }

  #loginForm input {
    width: 250px;
  }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
      width: auto;
    }

#socialLoginForm {
  margin-left: 40px;
  float: left;
  width: 40%;
}

  #socialLoginForm h2 {
    margin-bottom: 5px;
  }

#socialLoginList button {
  margin-bottom: 12px;
}

#logoutForm {
  display: inline;
}

/* contact */
.contact h3 {
  font-size: 1.2em;
}

.contact p {
  margin: 5px 0 0 10px;
}

.contact iframe {
  border: 1px solid #333;
  margin: 5px 0 0 10px;
}

/* forms */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

  fieldset legend {
    display: none;
  }

  fieldset ol {
    padding: 0;
    list-style: none;
  }

    /*fieldset ol li {
      padding-bottom: 5px;
    }*/

label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}

  label.checkbox {
    display: inline;
  }

input, textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  /*width: 600px;*/
}

textarea {
  font-family: inherit;
  /*width: 800px;*/
}

  input:focus, textarea:focus {
    border: 1px solid #7ac0da;
  }

input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto;
}

input[type="submit"],
input[type="button"],
button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}

/* info and errors */
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}

.message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.error {
  color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
  color: #e80c4d;
  font-weight: bold;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em;
}

.validation-summary-valid {
  display: none;
}


/* tables
----------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.75em;
  border: 0 none;
}

th {
  font-size: 1.2em;
  text-align: left;
  border: none 0px;
  padding-left: 0;
}

  th a {
    display: block;
    position: relative;
  }

    th a:link, th a:visited, th a:active, th a:hover {
      color: #333;
      font-weight: 600;
      text-decoration: none;
      padding: 0;
    }

    th a:hover {
      color: #000;
    }

  th.asc a, th.desc a {
    margin-right: .75em;
  }

    th.asc a:after, th.desc a:after {
      display: block;
      position: absolute;
      right: 0em;
      top: 0;
      font-size: 0.75em;
    }

    th.asc a:after {
      content: '▲';
    }

    th.desc a:after {
      content: '▼';
    }

td {
  padding: 0.25em 2em 0.25em 0em;
  border: 0 none;
}

tr.pager td {
  padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

  /* header
    ----------------------------------------------------------*/
  header .float-left,
  header .float-right {
    float: none;
  }

  /* logo */
  header .site-title {
    margin: 10px;
    text-align: center;
  }

  /* login */
  #login {
    font-size: .85em;
    margin: 0 0 12px;
    text-align: center;
  }

    #login ul {
      margin: 5px 0;
      padding: 0;
    }

    #login li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #login a {
      background: none;
      color: #999;
      font-weight: 600;
      margin: 2px;
      padding: 0;
    }

      #login a:hover {
        color: #333;
      }

  /* menu */
  nav {
    margin-bottom: 5px;
  }

  ul#menu {
    margin: 0;
    padding: 0;
    text-align: center;
  }

    ul#menu li {
      margin: 0;
      padding: 0;
    }


  /* main layout
    ----------------------------------------------------------*/
  .main-content,
  .featured + .main-content {
    background-position: 2px 0;
  }

  .content-wrapper {
    padding-right: 10px;
    padding-left: 2px;
  }

  .featured .content-wrapper {
    padding: 10px;
  }

  /* page content */
  article, aside {
    float: none;
    width: 100%;
  }

  /* ordered list */
  ol.round {
    list-style-type: none;
    padding-left: 0;
  }

    ol.round li {
      padding-left: 10px;
      margin: 25px 0;
    }

      ol.round li.zero,
      ol.round li.one,
      ol.round li.two,
      ol.round li.three,
      ol.round li.four,
      ol.round li.five,
      ol.round li.six,
      ol.round li.seven,
      ol.round li.eight,
      ol.round li.nine {
        background: none;
      }

  /* features */
  section.feature {
    float: none;
    padding: 10px;
    width: auto;
  }

    section.feature img {
      color: #999;
      content: attr(alt);
      font-size: 1.5em;
      font-weight: 600;
    }

  /* forms */
  input {
    width: 90%;
  }

  /* login page */
  #loginForm {
    border-right: none;
    float: none;
    width: auto;
  }

    #loginForm .validation-error {
      display: block;
      margin-left: 15px;
    }

  #socialLoginForm {
    margin-left: 0;
    float: none;
    width: auto;
  }


  /* footer
    ----------------------------------------------------------*/
  footer .float-left,
  footer .float-right {
    float: none;
  }

  footer {
    text-align: center;
    height: auto;
    padding: 0px 0;
  }

    footer p {
      margin: 0;
    }
}

/* Search Bar
  -----------------------------------------------------------*/
.searchBar {
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.searchBar input[type="radio"] {
  width: 10px;
  background: none;
  border: none;
  font-weight: bold;
  font-size: .85em;
  margin: 5px 0 6px 0;
  padding: 5px;
}

.searchBar .searchLabel {
  display:inline-block; 
  width: 50px;
}

#btnSearch {
  width: 60px;
  font-size: 1.0em;
  margin: 0px;
  padding: 5px 0px 6px 0px;
}
.searchBar .searchTextBox {
  width: 400px;
}

.searchBar .searchRadio {
  font-size: .85em;
  display:inline-block; 
  width: 50px;
}

.searchBar .searchCheckbox {
  font-size: .85em;
  display:inline-block; 
  width: 10px;
}

/* AUTHOR
  -----------------------------------------------------*/
.Author {
  position: absolute;
  border: 3px lightblue solid;
  left: 5px;
  top: 75px;
  right: 5px;
  bottom: 5px;
}

.Author h2 {
  position: absolute;
  left: 10px;
  top: 0px;
  padding: 0px;
  margin: 0px;
}

.Author .AddButton {
  position: absolute;
  right: 30px;
  top: 5px;
  padding: 2px 5px;
  margin: 0px;
  text-decoration: none;
  border: 1px solid darkgrey;
  background-color: lightblue;
  color: darkblue;
}
.Author .AddButton:hover {
  background-color: yellow;
  color: darkblue;
}

.Author .List {
  position: absolute;
  border: 0px;
  left: 10px;
  top: 35px;
  right: 10px;
  bottom: 10px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.Author .List table {
  border: 0px blue solid;
  border-collapse: collapse;
}
.Author .List table td {
  border: 0px blue solid;
  padding: 1px 3px;
}
.Author .List table th {
  border-bottom: 2px blue solid;
  text-align: center;
}

.Author .List table .Separator {
  border: 0px;
  width: 5px;
  padding: 0px;
  margin: 0px;
}

.Author .List table .FirstName {
  width: 225px;
}
.Author .List table .MiddleName {
  width: 150px;
}
.Author .List table .LastName {
  width: 225px;
}
.Author .List table .Rating {
  width: 60px;
}
.Author .List table .RatingValue {
  text-align: center;
}

.Author .Message {
  position: absolute;
  left: 250px;
  top: 10px;
  padding: 0px;
  margin: 0px;
  color: red;
}

.Author .List table .ShowBooks {
  width: 250px;
  border: 0px;
}

.Author .Edit {
  position: absolute;
  border: 0px;
  left: 100px;
  top: 35px;
  right: 100px;
  bottom: 10px;
}

/* BOOKS
  -----------------------------------------------------*/
.Book {
  position: absolute;
  border: 3px lightblue solid;
  left: 5px;
  top: 75px;
  right: 5px;
  bottom: 5px;
}

.Book h2 {
  position: absolute;
  left: 10px;
  top: 0px;
  padding: 0px;
  margin: 0px;
}
.Book .AddButton {
  position: absolute;
  right: 30px;
  top: 5px;
  padding: 2px 5px;
  margin: 0px;
  text-decoration: none;
  border: 1px solid darkgrey;
  background-color: lightblue;
  color: darkblue;
}
.Book .AddButton:hover {
  background-color: yellow;
  color: darkblue;
}

.Book .List {
  position: absolute;
  border: 0px;
  left: 10px;
  top: 35px;
  right: 10px;
  bottom: 10px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.Book .List table {
  border: 0px blue solid;
  border-collapse: collapse;
}
.Book .List table td {
  border: 0px blue solid;
  padding: 1px 3px;
}
.Book .List table th {
  border-bottom: 2px blue solid;
  text-align: center;
}

.Book .List table .Separator {
  border: 0px;
  width: 5px;
  padding: 0px;
  margin: 0px;
}

.Book .List table .Title {
  width: 250px;
}
.Book .List table .AuthorName {
  width: 200px;
}
.Book .List table .ISBN {
  width: 150px;
}
.Book .List table .Audience {
  width: 100px;
}
.Book .List table .Rating {
  width: 50px;
}
.Book .List table .Rating td {
  text-align: center;
}

.Book .Edit {
  position: absolute;
  border: 0px;
  left: 10px;
  top: 35px;
  right: 10px;
  bottom: 10px;
  overflow-x: scroll;
  overflow-y: scroll;
}
  .Book .Edit ol li .Label {
    display:inline-block; 
    width: 125px;
  }
  .Book .Edit ol li .Title {
    width: 400px;
    margin: 0px;
    padding: 5px;
  }
  .Book .Edit ol li .ISBN {
    width: 250px;
    margin: 0px;
    padding: 5px;
  }
  .Book .Edit ol li .Author {
    width: 250px;
    margin: 0px;
    padding: 5px;
  }
  .Book .Edit ol li .Audience {
    width: 125px;
    margin: 0px;
    padding: 5px;
  }
  .Book .Edit ol li .Rating {
    width: 100px;
    margin: 0px;
    padding: 5px;
  }
  .Book .Edit ol li .Enabled {
    width: 50px;
    margin: 0px;
    padding: 5px;
  }

  .Book .BackToList {
  padding: 2px 5px;
  margin: 10px 0px 0px;
  text-decoration: none;
  border: 1px solid darkgrey;
  background-color: lightblue;
  color: darkblue;
}
.Book .BackToList:hover {
  background-color: yellow;
  color: darkblue;
}

/* Reader Note Panel
  -----------------------------------------------------*/
.readerNotes {
  position: absolute;
  border: 3px lightblue solid;
  left: 5px;
  top: 75px;
  right: 5px;
  bottom: 5px;
  overflow: hidden;
}

.contributorNotes {
  position: absolute;
  border: 3px lightyellow solid;
  left: 5px;
  top: 75px;
  right: 5px;
  bottom: 5px;
  overflow: hidden;
}

/* Change Password
  -----------------------------------------------------*/
.Edit {
  padding-left: 100px;
}