@{
  ViewBag.Title = "About";
}

<hgroup class="title">
  <h1>@ViewBag.Title </h1>
  <h2>@ViewBag.Message</h2>
</hgroup>

<article>
  <p>
    The "Reader Book Notes" program was designed to provide readers with a place to read about other readers comments 
		about a particular book.
  </p>

  <p>
    The program also allows you to add your own comments to notes that already exist for a book.  If you don't find 
	  the book, you can add the book and include your own notes.  When you are adding a new book, please include Title, 
		Author, publisher, and ISBN number (usually located in the first four or five pages added by the publisher).
  </p>

  <p>
    <b>If you decide to add your own notes, add Book Ratings, or you want to rate other reader notes, you must create an account.</b>&nbsp;&nbsp;
    This account will only be used to identify the added notes or determine whether the rating option is available.&nbsp;&nbsp;
    The account will also be used to track the reader ratings as they are added to each note so that you will know 
    what other readers think about your notes.
  </p>
</article>
