@{
  ViewBag.Title = "Reader Book Notes";
  Layout = "~/Views/Shared/_LayoutBooks.cshtml";
}

@if (Roles.GetRolesForUser(User.Identity.Name).Contains("Administrator") || Roles.GetRolesForUser(User.Identity.Name).Contains("Contributor"))
{
  <div class="contributorNotes">
    Body
  </div>
}
else
{
  <div class="readerNotes">
    Body
  </div>
}
