@{
  ViewBag.Title = "Reader Book Notes";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
  <section class="featured">
    <div class="content-wrapper">
      <h2>@ViewBag.Title</h2>
    </div>
  </section>
}
<p>
  Body
</p>
