@{
  ViewBag.Title = "Reader Book Notes";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
  <section class="featured">
    <div class="content-wrapper">
      @using (Html.BeginForm("Search", "Home", FormMethod.Post, new {id = "submitSearch"}))
      {
        @Html.Partial("SearchBarPartialView")
      }
    </div>
  </section>
}
<div class="readerNotes">
  Body
</div>
