@*@{
    ViewBag.Title = "Contact";
}*@

@section featured {
  <section class="featured">
    <div class="content-wrapper">
      <hgroup class="title">
        <h2>@ViewBag.Message</h2>
      </hgroup>
    </div>
  </section>
}

<section class="contact">
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@readerbooknotes.com">Support@readerbooknotes.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@readerbooknotes.com">General@readerbooknotes.com</a></span>
    </p>
</section>
