@{
    ViewBag.Title = "Reader Book Notes";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
		    <h2>@ViewBag.Title.</h2>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        @ViewBag.Message
    </li>

    <li class="two">
        @ViewBag.Message1
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
