@{
    ViewBag.Title = "Reader Book Notes";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
		    <h2>@ViewBag.Title.</h2>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
	    <p>@ViewBag.Message</p>
    </li>

    <li class="two">
	    <p>@ViewBag.Message1</p>
    </li>
</ol>
