@model rbn.Models.ReaderAliasModel

<section id="AliasSelectorSection">
    <div class="ReaderAlias">
      @*@Html.DropDownList("UserId", string.Empty)*@ <<  < Reader >  >>
    </div>
</section>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
