@using System.Activities.Expressions
@model rbn.Models.ReaderNotesModel

<section id="AliasSelectorSection">
  <div class="ReaderAlias">
    @Html.DropDownList( "ReaderId", ViewBag.ReaderId as SelectList, " --Select Reader Alias-- ", 
      htmlAttributes: new { @Id = "ddlReaderAlias", onchange = "document.getElementById('BookNotes').submit();" } )
  </div>
</section>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ReaderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
