@{
    ViewBag.Title = "Reader Book Notes Admin Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
  <section class="featured">
    <div class="content-wrapper">
      <h2>@ViewBag.Title.</h2>
    </div>
  </section>
}

<div class="Admin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("")
        @Html.ValidationSummary(true)
        
        <div class="AdminSelect">
            <input id="btnAliases" type="button" name="admin" value="Manage Aliases" class="AdminSelect" />
        </div>
    }
</div>
